    body {
  background-color: #3D3D3D;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(76,76,76,.5) 3px, rgba(76,76,76,.5) 5px);
  color: #333333;
}

.loginBox {
  background: rgba(238, 238, 238, .75);
  width: 100%;
  max-width: 20em;
  padding: 1em;
  margin: 2em auto;
  border-radius: .4em;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

.loginBox h3 {
  margin-top: 0;
}

.ulinks {
  margin: 1em 0;
}